#cloud-config
hostname: ${hostname}
fqdn: ${hostname}.lab.local
manage_etc_hosts: true
users:
  - name: debian
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ${public_key}
ssh_pwauth: false
package_update: false
